body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .header h2 {
        margin-left: 50%;
        color: #c66d40;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .header .todo-icon {
        display: flex;
        align-items: center;
    }

        .header .todo-icon img {
            width: 25px;
            height: 25px;
            margin-right: 5px;
        }

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .nav button {
        background-color: #f0f0f0;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .nav button:hover {
            background-color: #ddd;
        }

    .nav .active {
        background-color: #e0e0e0;
    }

.input-group {
    position: relative;
    margin-bottom: 20px;
}

    .input-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }

    .input-group button {
        position: absolute;
        top: 3px;
        right: 10px;
        background-color: #72330b;
        color: white;
        border: none;
        padding: 8px 10px;
        border-radius: 5px 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .input-group button:hover {
            background-color: #372317;
        }

.list-group {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

    .list-item input {
        margin-right: 10px;
    }

    .list-item label {
        margin-right: auto;
    }

    .list-item button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .list-item button:hover {
            opacity: 0.7;
    }





.limpiar {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

    .limpiar button {
        background-color: #f0f0f0;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .limpiar button:hover {
            background-color: #ddd;
        }
